<%- partial('_partial/head') %>
<body>

<div class="section-wrap section-main">
	<div class="section">
		<%- partial('_partial/header') %>
		<div class="main">
			<%- body -%>
		</div>
		<%- partial('_partial/footer') %>
	</div>
</div>

<%- partial('_partial/linezing-analytics') %>
</body>
</html>