<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
  <meta name="renderer" content="webkit">
  <%
    var title = page.title;

    if (is_archive()){
      title = 'Archives';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = 'Category: ' + page.category;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
  <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/rss+xml">
  <% } %>

  <link rel="stylesheet" href="/css/style.css" >
  <link rel="shortcut icon" href="/images/favicon.png"/>
  <script data-main="/js/build" src="/js/require.js"></script>
  <!--[if lt IE 7]>
  <style>
    .section{
      width: 780px;
    }
    .post-content img{
      width: 100%;
    }
    .jupe pre{
      width: 100%;
    }
  </style>
  <![endif]-->
</head>